:root {
  --black: #000;
  --white: #fff;
  --green: #029491;
  --green-primary: #7ce3e1;
  --green-secondary: #5ed1c6;
  --green-tertiary: #8ac540;
  --orange: #ffb64f;
  --purple: #5970ff;
  --purple-primary: #4b6ffa;
  --purple-secondary: #acb8ff;
  --gray: #c7c7c7;
  --gray-primary: #949494;
  --gray-secondary: #f4f4f4;
}
